<!DOCTYPE html>
<html lang="en">
<head>
  {{ include('partials/header.html') }}
</head>

<body class="sidebar-pinned ">

  {{ include('partials/sidebar.html') }}

  <main class="admin-main">
    <!--site header begins-->

    {{ include('partials/nav.html') }}
    <!--site header ends -->
    <section class="admin-content">

      <div class="bg-darker">
          <div class="container  m-b-30">
              <div class="row p-b-40">
                  <div class="col-12 p-t-40 p-b-40">

                      <h1>Add a New Listing</h1>

                  </div>
              </div>
          </div>
      </div>

      <div class="container pull-up">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="card m-b-30">
                <div class="progress">
                  <div class="progress-bar" id="progress_bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                  </div>
                </div>
                <div class="card-body">
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Max 100MB</span>
                    </div>

                    <div class="custom-file">
                      <label class="custom-file-label">Choose file</label>
                      {{ cloudinaryUpload|raw }}
                    </div>
                  </div>

                  <div class="preview mb-5"></div>

                  <form class="" action="#" method="post">
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="title">Title</label>
                        <input id="title" type="text" name="title" class="form-control">
                      </div>

                      <div class="form-group col-md-6">
                        <label for="price">Price ($)</label>
                        <input id="price" type="text" name="price" class="form-control">
                      </div>
                    </div>

                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="suburb">Suburb</label>
                        <input id="suburb" type="text" name="suburb" class="form-control">
                      </div>

                      <div class="form-group col-md-6">
                        <label for="state">State</label>
                        <input id="state" type="text" name="state" class="form-control">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="description">Description</label>
                      <textarea id="description" name="description" type="text" class="form-control" rows="8" cols="100%"></textarea>
                    </div>

                    <div class="form-group">
                      <a name="button" class="btn btn-success add-listing" href="" style="width: 100%;">Save</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>

  </main>

  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/jquery-ui/jquery-ui.min.js"></script>
  <script src="assets/vendor/blockui/jquery.blockUI.js"></script>
  <script src="assets/vendor/sweetalert/sweetalert2.all.min.js"></script>

  <script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/vendor/select2/js/select2.full.min.js"></script>
  <script src="assets/vendor/jquery-scrollbar/jquery.scrollbar.min.js"></script>
  <script src="assets/vendor/listjs/listjs.min.js"></script>
  <script src="assets/vendor/moment/moment.min.js"></script>
  <script src="assets/vendor/daterangepicker/daterangepicker.js"></script>
  <script src="assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
  <script src="assets/vendor/bootstrap-notify/bootstrap-notify.min.js"></script>
  <script src="assets/js/atmos.min.js"></script>
  <!--page specific scripts for demo-->

  <!--Additional Page includes-->
  <script src="assets/vendor/apexchart/apexcharts.min.js"></script>

  <!-- Cloudinary upload js -->
  <script type="text/javascript" src="assets/js/jquery.ui.widget.js"></script>
  <script type="text/javascript" src="assets/js/jquery.iframe-transport.js"></script>
  <script type="text/javascript" src="assets/js/jquery.fileupload.js"></script>
  <script type="text/javascript" src="assets/js/jquery.cloudinary.js"></script>

  <script>
  $(function() {
    if($.fn.cloudinary_fileupload !== undefined) {
      $("input.cloudinary-fileupload[type=file]").cloudinary_fileupload();
    }
  });

  $.cloudinary.config({ cloud_name: 'videosales', api_key: '534325556641693' });
  $('.cloudinary-fileupload').bind('fileuploadprogress', function(e, data) {
    $('#result').empty();
    $('.current-image').hide();
    $('#gallery').addClass('gallery-border');
    $("#progress_bar").css('width', 0+'%');
    $("#preview").show();
    $('.progress').show();
    $('#progress_bar').css('width', Math.round((data.loaded * 100.0) / data.total) + '%');
  });

  $('.cloudinary-fileupload').bind('cloudinarydone', function(e, data) {
    $('.preview');
    videoId = (data.result.public_id);
    url = (data.result.secure_url);
    $('.preview').append('<div class="embed-responsive embed-responsive-21by9"><iframe class="embed-responsive-item" src="'+url+'" allow="encrypted-media" allowfullscreen></iframe></div>');
    return true;
  });

  $(document).on("click", ".add-listing", function() {

    $.blockUI();
    var title = $("#title").val();
    var price = $("#price").val();
    var suburb = $("#suburb").val();
    var state = $("#state").val();
    var description = $("#description").val();
    var videoUrl = url;
    var publicId = videoId;

    $.post("api/listings/add/listing", {
    title: title,
    price: price,
    suburb: suburb,
    state: state,
    description: description,
    videoUrl: videoUrl,
    publicId: publicId
    })

    .done(function(data) {
    Swal.fire({
    type: 'success',
    title: 'Yay!',
    text: 'Your new listing added.'
    });
    });
  });
  </script>

</body>

</html>
