<!DOCTYPE html>
<html lang="en">

{{ include('partials/header.html') }}

<body class="pace-done sidebar-pinned ">

  {{ include('partials/sidebar.html') }}

  <main class="admin-main">
    <!--site header begins-->

    {{ include('partials/nav.html') }}
    <!--site header ends -->
    <section class="admin-content">

      <div class="bg-darker">
          <div class="container  m-b-30">
              <div class="row p-b-40">
                  <div class="col-12 p-t-40 p-b-40">

                      <h1 class="h1-heading-icon text-white">My Listings History</h1>
                      <p class="text-white">Welcome {{session.firstname|capitalize}}</p>

                  </div>
              </div>
          </div>
      </div>

      <div class="container pull-up">
        <div class="container">
          <div class="row">

            {% for listing in myListings %}
            <div class="col-12">

              <div class="card m-b-30">
                <div class="card-body">
                  <div class="row flex-column-reverse flex-md-row">
                    <div class="col-md-6">
                      <h4 class="card-title m-b-0 text-capitalize">{{ listing.title }}</h4><br>
                      <p class="text-capitalize"><span class="listing-title">Description</span><br /> {{ listing.description|nl2br }}</p>
                      <p><span class="listing-title">Price</span><br /> ${{ listing.price }}</p>
                      <p class="text-capitalize"><span class="listing-title">Location</span><br /> {{ listing.suburb }}, {{ listing.state }}</p>
                      <p><span class="listing-title">Status</span><br />
                        {% if listing.status == 0 %}
                        <i class="mdi mdi-clock" style="color:orange"></i> Under review
                        {% elseif listing.status == 1 %}
                        <i class="mdi mdi-checkbox-marked-circle" style="color:green"></i> Published
                        {% elseif listing.status == 2 %}
                        <i class="mdi mdi-tag" style="color:green"></i> Sold!
                        {% endif %}

                      </p>
                    </div>

                    <div class="col-md-6 mb-3 mb-md-0">
                      <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="1280" height="720" src="{{ listing.videoUrl }}" allow="encrypted-media" allowfullscreen></iframe>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer text-left">
                  <a href="/my-listings" class="btn btn-success">Manage Listings</a>
                </div>
              </div>

            </div>
            {% endfor %}

          </div>
        </div>
      </div>
    </section>

  </main>

  {{ include('partials/footer.html') }}

  <script>
  $(document).on("click", ".delete-listing", function() {
    var id = $(this).attr('id');

    $.post("api/listings/remove/listing", {id: id}, function(){})
    .done(function(data) {
      if(data.result == 'true') {
        Swal.fire({
        type: 'success',
        title: 'Succces',
        text: 'You have successfully removed this listing. Status: '+data.result
        });
        setTimeout(function(){
          location.reload();
        }, 1500);
    } else if (data.result == 'failed'){
      Swal.fire({
      type: 'error',
      title: 'Error',
      text: 'There was an error deleting your listing. Please try again.'
      //text: 'There was an error deleting your listing. Please try again.'.data.db_error
      });
    }
    })
    .fail(function(data) {
        Swal.fire({
        type: 'error',
        title: 'Error',
        text: 'There was an error contacting the server.'
        });
      setTimeout(function(){
        location.reload();
      }, 1500);
    });
  });
  </script>

</body>

</html>
