<!DOCTYPE html>
<html lang="en">
<head>
  {{ include('partials/header.html') }}
</head>

<body class="sidebar-pinned ">

  {{ include('partials/sidebar.html') }}

  <main class="admin-main">
    <!--site header begins-->

    {{ include('partials/nav.html') }}
    <!--site header ends -->
    <section class="admin-content">

      <div class="bg-darker">
          <div class="container  m-b-30">
              <div class="row p-b-40">
                  <div class="col-12 p-t-40 p-b-40">

                      <h1 class="h1-heading-icon text-white">Edit Listing {{ myListing.title}}</h1>

                  </div>
              </div>
          </div>
      </div>

      <div class="container pull-up">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="card m-b-30">

                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" id="progress_bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                  style="width:0%"><span class="upload-text-1" style="display:none">Uploading</span><span class="upload-text-2" style="display:none">Upload Complete!</span>
                  </div>
                </div>

                <div class="card-body">
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroupFileAddon01">Max 100MB</span>
                    </div>

                    <div class="custom-file">
                      <button id="upload_widget" class="custom-file-input" id="inputGroupFile01">Upload files</button>
                      <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                      {{ cloudinaryUpload|raw }}
                    </div>
                  </div>

                  <div class="row mb-5 p-t-20">
                    <div class="col-md-6">
                      <h3>Current Video Listed</h3>
                      <div class="embed-responsive embed-responsive-21by9">
                        <iframe class="embed-responsive-item" src="{{ myListing.videoUrl }}" allow="encrypted-media" allowfullscreen></iframe>
                        <input id="publicId" type="text" name="publicId" class="form-control" value="{{ myListing.publicId }}" style="display:none">
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="preview"></div>
                    </div>
                  </div>

                  <form class="" action="#" method="post">
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="title">Title</label>
                        <input id="title" type="text" name="title" class="form-control" value="{{ myListing.title }}">

                      </div>

                      <div class="form-group col-md-6">
                        <label for="price">Price (Number Only No $ Symbol)</label>
                        <input id="price" type="text" name="price" class="form-control" value="{{ myListing.price }}">
                      </div>
                    </div>

                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="suburb">Suburb</label>
                        <input id="suburb" type="text" name="suburb" class="form-control" value="{{ myListing.suburb }}">
                      </div>

                      <div class="form-group col-md-6">
                        <label for="state">State</label>
                        <input id="state" type="text" name="state" class="form-control" value="{{ myListing.state }}">
                      </div>
                    </div>

                    <div class="form-group col-12 px-0">
                      <label for="category">Category</label>
                      <select id="category" class="form-control category-select">
                        <option value="1">Cars</option>
                        <option value="2">Clothes</option>
                        <option value="3">Electronics</option>
                        <option value="4">Garden</option>
                        <option value="5">Kitchen</option>
                        <option value="6">Other</option>
                      </select>
                    </div>

                    <div class="form-group">
                      <label for="description">Description</label>
                      <textarea id="description" name="description" type="text" class="form-control" rows="8" cols="100%">{{ myListing.description|nl2br }}</textarea>
                    </div>

                    <div class="form-group">
                      <button type="button" name="button" class="btn btn-success edit-listing" style="width: 100%;">Save</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>

  </main>

  {{ include('partials/footer.html') }}

  <script>
  url = "{{myListing.videoUrl}}";
  videoId = "{{myListing.publicId}}";
  $(function() {
    if($.fn.cloudinary_fileupload !== undefined) {
      $("input.cloudinary-fileupload[type=file]").cloudinary_fileupload();
    }
  });

  $.cloudinary.config({ cloud_name: 'videosales', api_key: '534325556641693' });
  $('.cloudinary-fileupload').bind('fileuploadprogress', function(e, data) {
    $('.progress-bar').addClass("progress-bar-striped progress-bar-animated");
    $('.upload-text-2').hide();
    $('#result').empty();
    $('.current-image').hide();
    $('#gallery').addClass('gallery-border');
    $("#progress_bar").css('width', 0+'%');
    $("#preview").show();
    $('.progress').show();
    $('.upload-text-1').show();
    $('#progress_bar').css('width', Math.round((data.loaded * 100.0) / data.total) + '%');
  });

  $('.cloudinary-fileupload').bind('cloudinarydone', function(e, data) {
    $('.preview');
    $('.upload-text-1').hide();
    $('.upload-text-2').show();
    $('.progress-bar').removeClass("progress-bar-striped progress-bar-animated");
    videoId = (data.result.public_id);
    url = (data.result.secure_url);
    $('.preview').append('<h3>New Video Uploaded</h3><div class="embed-responsive embed-responsive-21by9"><iframe class="embed-responsive-item" src="'+url+'" allow="encrypted-media" allowfullscreen></iframe></div>');
    return true;
  });
  </script>

  <script>
  $(document).on("click", ".edit-listing", function() {
    var title = $("#title").val();
    var price = $("#price").val();
    var suburb = $("#suburb").val();
    var state = $("#state").val();
    var description = $("#description").val();
    var listingId = {{ myListing.listingId}};
    var categoryId = $("#category").val();
    var userId = {{session.user_id}};
    var publicId = videoId;
    var videoUrl = url;

    $.post("api/listings/edit/listing", {
      title: title,
      price: price,
      suburb: suburb,
      state: state,
      description: description,
      listingId: listingId,
      categoryId: categoryId,
      videoUrl: videoUrl,
      publicId: publicId
    }, function(){})
    .done(function(data) {
      if(data.result == 'true') {
        Swal.fire({
        type: 'success',
        title: 'Succces',
        text: 'You Edited your {{ myListing.title }} Listing '
        });
        setTimeout(function(){
          window.location.href = 'my-listings';
        }, 1500);
    } else if (data.result == 'failed'){
      Swal.fire({
      type: 'error',
      title: 'Error',
      text: 'There was an error deleting your listing. Please try again.'
      //text: 'There was an error deleting your listing. Please try again.'.data.db_error
      });
    }
    })
    .fail(function(data) {
      Swal.fire({
        type: 'error',
        title: 'Error',
        text: 'There was an error contacting the server.'
      });
      setTimeout(function() {
        window.location.href = 'my-listings';
      },1500);
    });
  });

  $(".category-select").select2();
  $(".category-select").val("{{myListing.categoryId}}").trigger("change");
  </script>

</body>

</html>
