<!DOCTYPE html>
<html lang="en">
<head>
	<title>Video Sales - The No.1 Online Video Market Place</title>
	{{ include('partials/header.html') }}
</head>

	<main>
		{{ include('partials/navbar.html') }}

		<div class="spacing">
			<div class="bg">
				<div class="bg-text">
					<div class="text-center">
						<p class="text-capitalize text-white">sell it on</p>
						<p class="text-capitalize text-white">video sales</p>
						<a id="scroll-btn" style="font-size: 20px; color: #333;">Get started for free <i class="mdi mdi-arrow-down-drop-circle"></i></a>
					</div>
				</div>
			</div>
		</div>

		<section class="content">
        <div class="container">
					<div id="steps">
	          <h1 class="text-center p-b-80">How Video Sales Works</h1>
	        </div>

					<div class="p steps">
						<div class="row m-b-100" style="min-height: 300px">
							<div class="col-md-7 text-center align-self-center">
								<h2>CREATE A <strong>FREE</strong> ACCOUNT</h2>
								<p>Register for your <a href="/register" style="text-decoration: underline; color:#00bf99"><strong>FREE ACCOUNT</strong></a> to submit a listing.</p>
							</div>
							<div class="col-md-5">
								<img src="/assets/img/steps/register-01.jpg" alt="Step 1">
							</div>
						</div>

						<div class="row m-b-100" style="min-height: 300px">
							<div class="col-md-5 order-md-1 order-2">
								<img src="/assets/img/steps/dashboard-01.jpg" alt="Step 2">
							</div>
							<div class="col-md-7 text-center order-1 align-self-center">
								<h2>THE DASHBOARD</h2>
								<p>Gain insights on all your listings via the Dashboard.</p>
							</div>
						</div>

						<div class="row m-b-100" style="min-height: 300px">
							<div class="col-md-7 text-center align-self-center">
								<h2>FIND UNWANTED ITEMS</h2>
								<p>Gather your unwanted items to sell and get ready to shoot a video with your smart device!</p>
							</div>
							<div class="col-md-5">
								<img src="/assets/img/steps/unwanted-items-01.jpg" alt="Step 3">
							</div>
						</div>

						<div class="row m-b-100" style="min-height: 300px">
							<div class="col-md-5 order-md-1 order-2">
								<img src="/assets/img/steps/adding-a-listing-01.jpg" alt="Step 4">
							</div>
							<div class="col-md-7 text-center order-1 align-self-center">
								<h2>ADD A LISTING</h2>
								<p>Adding a new listing is super easy. Simply upload your video and fill-in some short details.</p>
							</div>
						</div>

						<div class="row m-b-100" style="min-height: 300px">
							<div class="col-md-7 text-center align-self-center">
								<h2>YOUR LISTING GOES LIVE</h2>
								<p>Sit back and let your video do the selling. A video tells a millions words!</p>
							</div>
							<div class="col-md-5">
								<img src="/assets/img/steps/public-listing-01.jpg" class="img-responsive" alt="Step 5">
							</div>
						</div>

						<div class="row m-b-100" style="min-height: 300px">
							<div class="col-md-5 order-md-1 order-2">
								<img src="/assets/img/steps/get-paid-01.jpg" alt="Step 6">
							</div>
							<div class="col-md-7 text-center order-1 align-self-center">
								<h2>GET PAID</h2>
								<p>Turn your unwanted items to cash. How good is that!</p>
							</div>
						</div>
					</div>
        </div>
		</section>
		<div class="container-fluid bg-darker align-self-center" style="min-height:200px">
			<p class="text-center p-t-50 text-white">Video Sales 2020. All rights reserved.<br><br>Created by 431680505 @ Cecil Hills HS<br>HSC Major Project</p>
		</div>
	</main>

<body>

{{ include('partials/footer.html') }}

<script>
	$(document).on("click", ".login-user", function() {
	  var email = $("#email").val();
	  var password = $("#password").val();

	  $.post("api/users/login/user", {email:email, password:password}, function(){})
	  .done(function(data) {
	    if(data.result == 'true') {
	      setTimeout(function(){
	        window.location.href= ('/dashboard');
	      }, 1500);
	  } else if (data.result == 'failed'){
	    Swal.fire({
	    type: 'error',
	    title: 'Error',
	    text: 'Sorry incorrect login details!'
	    });
	  }
	  })
	  .fail(function(data) {
	      Swal.fire({
	      type: 'error',
	      title: 'Error',
	      text: 'There was an error contacting the server.'
	      });
	    setTimeout(function(){
	      location.reload();
	    }, 1500);
	  });
	});

	$("#scroll-btn").click(function() {
    $('html,body').animate({
      scrollTop: $("#steps").offset().top}, 'slow');
	});
</script>

</html>
