<!DOCTYPE html>
<html lang="en">
<head>
	<title>Video Sales - Home page</title>
	{{ include('partials/header.html') }}
</head>

	<main>
		{{ include('partials/navbar.html') }}

		<div class="spacing">
			<div class="bg">
				<div class="bg-text">
					<div class="text-center">
						<p class="text-capitalize text-white">sell it on</p>
						<p class="text-capitalize text-white">video sales</p>
						<a id="scroll-btn" style="font-size: 20px; color: #333;">Get started for free <i class="mdi mdi-arrow-down-drop-circle"></i></a>
					</div>
				</div>
			</div>
		</div>

		<section class="content">
      <section>
        <div class="container">
					<div id="steps">
	          <h1 class="text-center">Get Started</h1>
	        </div>

					<div class="p steps">
						<div class="row mb-5">
							<div class="col-md-8 text-center">
								<h2>1. Login</h2>
								<p>Login or Register to our website by pressing the "Start Selling" button!</p>
							</div>
							<div class="col-md-4">
								<img src="/assets/img/steps/step1.png" alt="Step 1">
							</div>
						</div>

						<div class="row mb-5">
							<div class="col-md-4 order-md-1 order-2">
								<img src="/assets/img/steps/step2.png" alt="Step 2">
							</div>
							<div class="col-md-8 text-center order-1">
								<h2>2. Dashboard!</h2>
								<p>Once logged in, go to "Dashboard" which is in the profile dropdown button.</p>
							</div>
						</div>

						<div class="row mb-5">
							<div class="col-md-8 text-center">
								<h2>3. Add Listing!</h2>
								<p>Once at the Dashboard page, click the "Listings" dropdown and then the "Add Listing" link.</p>
							</div>
							<div class="col-md-4">
								<img src="/assets/img/steps/step3.png" alt="Step 3">
							</div>
						</div>

						<div class="row mb-5">
							<div class="col-md-4 order-md-1 order-2">
								<img src="/assets/img/steps/step4.png" alt="Step 4">
							</div>
							<div class="col-md-8 text-center order-1">
								<h2>4. Filling out the form</h2>
								<p>Fill in all the fields and add a video of your item!</p>
							</div>
						</div>

						<div class="row mb-5">
							<div class="col-md-8 text-center">
								<h2>5. All you do now is wait!</h2>
								<p>Once you have created your listing, all you have to do is wait untill someone wants to buy you item!</p>
							</div>
							<div class="col-md-4">
								<img src="/assets/img/steps/step5.png" alt="Step 5">
							</div>
						</div>

						<div class="row mb-5">
							<div class="col-md-4 order-md-1 order-2">
								<img src="/assets/img/steps/step6.png" alt="Step 6">
							</div>
							<div class="col-md-8 text-center order-1">
								<h2>6. Complete</h2>
								<p>IT IS THAT EASY!</p>
							</div>
						</div>
					</div>
        </div>
      </section>
		</section>
	</main>

<body>

{{ include('partials/footer.html') }}

<script>
	$(document).on("click", ".login-user", function() {
	  var email = $("#email").val();
	  var password = $("#password").val();

	  $.post("api/users/login/user", {email:email, password:password}, function(){})
	  .done(function(data) {
	    if(data.result == 'true') {
	      setTimeout(function(){
	        window.location.href= ('/dashboard');
	      }, 1500);
	  } else if (data.result == 'failed'){
	    Swal.fire({
	    type: 'error',
	    title: 'Error',
	    text: 'Sorry incorrect login details!'
	    });
	  }
	  })
	  .fail(function(data) {
	      Swal.fire({
	      type: 'error',
	      title: 'Error',
	      text: 'There was an error contacting the server.'
	      });
	    setTimeout(function(){
	      location.reload();
	    }, 1500);
	  });
	});

	$("#scroll-btn").click(function() {
    $('html,body').animate({
      scrollTop: $("#steps").offset().top}, 'slow');
	});
</script>

</html>
