<!DOCTYPE html>
<html lang="en">

{{ include('partials/header.html') }}

<body class="sidebar-pinned ">

  {{ include('partials/sidebar.html') }}

  <main class="admin-main">
    <!--site header begins-->

    {{ include('partials/nav.html') }}
    <!--site header ends -->
    <section class="admin-content">

      <div class="bg-darker">
          <div class="container  m-b-30">
              <div class="row p-b-40">
                  <div class="col-12 p-t-40 p-b-40">

                      <h1>Your Listings</h1>
                      <p>Welcome {{name}}</p>

                  </div>
              </div>
          </div>
      </div>

      <div class="container pull-up">
        <div class="container">
          <div class="row">

            {% for listing in myListings %}
            <div class="col-12">

              <div class="card m-b-30">
                <div class="card-body">
                  <div class="row">
                    <div class="col-6">
                      <h5 class="card-title m-b-0">{{ listing.title }}</h5>
                      <p><span class="listing-title">Description</span><br /> {{ listing.description }}</p>
                      <p><span class="listing-title">Price</span><br /> ${{ listing.price }}</p>
                      <p><span class="listing-title">Location</span><br /> {{ listing.suburb }}, {{ listing.state }}</p>
                    </div>

                    <div class="col-6">
                      <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="1280" height="720" src="{{ listing.videoUrl }}" allow="encrypted-media" allowfullscreen></iframe>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer text-center">
                  <a href="/edit-listing" class="btn btn-warning">Edit</a>
                  <a href="#" class="btn btn-danger">Delete</a>
                </div>
              </div>

            </div>
            {% endfor %}

          </div>


        </div>

      </div>
    </section>

  </main>

  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/jquery-ui/jquery-ui.min.js"></script>
  <script src="assets/vendor/blockui/jquery.blockUI.js"></script>
  <script src="assets/vendor/sweetalert/sweetalert2.all.min.js"></script>

  <script src="assets/vendor/popper/popper.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/vendor/select2/js/select2.full.min.js"></script>
  <script src="assets/vendor/jquery-scrollbar/jquery.scrollbar.min.js"></script>
  <script src="assets/vendor/listjs/listjs.min.js"></script>
  <script src="assets/vendor/moment/moment.min.js"></script>
  <script src="assets/vendor/daterangepicker/daterangepicker.js"></script>
  <script src="assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
  <script src="assets/vendor/bootstrap-notify/bootstrap-notify.min.js"></script>
  <script src="assets/js/atmos.min.js"></script>
  <script src="assets/js/template7.js"></script>
  <!--page specific scripts for demo-->

  <!--Additional Page includes-->
  <script src="assets/vendor/apexchart/apexcharts.min.js"></script>
  <!--chart data for current dashboard-->
  <script src="assets/js/dashboard-01.js"></script>

  <script src="assets/vendor/DataTables/datatables.min.js"></script>

  <script type="text/javascript">
  $(document).on("click", ".delete-listing", function() {

    $.blockUI();
    var title = $("#title").val();
    var price = $("#price").val();
    var suburb = $("#suburb").val();
    var state = $("#state").val();
    var description = $("#description").val();
    var videoUrl = url;
    var publicId = videoId;

    $.post("api/listings/add/listing", {
    title: title,
    price: price,
    suburb: suburb,
    state: state,
    description: description,
    videoUrl: videoUrl,
    publicId: publicId
    })

    .done(function(data) {
    Swal.fire({
    type: 'success',
    title: 'Yay!',
    text: 'Your new listing added.'
    });
    });
  });
  </script>

</body>

</html>
