<!DOCTYPE html>
<html lang="en">

{{ include('partials/header.html') }}

<body class="sidebar-pinned ">

  {{ include('partials/sidebar.html') }}

  <main class="admin-main">
    <!--site header begins-->

    {{ include('partials/nav.html') }}
    <!--site header ends -->
    <section class="admin-content">

      <div class="bg-darker">
          <div class="container  m-b-30">
              <div class="row p-b-40">
                  <div class="col-md-10 p-t-40 p-b-40">

                    <h1>Your Listings</h1>
                    <p>Welcome {{name}}</p>

                  </div>

                  <div class="col-md-2 p-t-60 p-b-20 text-right">

                    <a href="add-listing" class="btn btn-success">Add A Listing</a>

                  </div>
              </div>
          </div>
      </div>

      <div class="container pull-up">
        <div class="container">
          <div class="row">

            {% for listing in myListings %}
            <div class="col-12">

              <div class="card m-b-30">
                <div class="card-body">
                  <div class="row">
                    <div class="col-6">
                      <h5 class="card-title m-b-0">{{ listing.title }}</h5>
                      <p><span class="listing-title">Description</span><br /> {{ listing.description|nl2br }}</p>
                      <p><span class="listing-title">Price</span><br /> ${{ listing.price }}</p>
                      <p><span class="listing-title">Location</span><br /> {{ listing.suburb }}, {{ listing.state }}</p>
                      <p><span class="listing-title">Status</span><br />
                        {% if listing.status == 0 %}
                        Under review
                        {% elseif listing.status == 1 %}
                        Published
                        {% elseif listing.status == 2 %}
                        Sold!
                        {% endif %}

                      </p>
                    </div>

                    <div class="col-6">
                      <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="1280" height="720" src="{{ listing.videoUrl }}" allow="encrypted-media" allowfullscreen></iframe>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer text-left">
                  {% if listing.status == 0 %}
                  <a href="/edit-listing?id={{listing.listingId}}" class="btn btn-warning">Edit</a>
                  {% elseif listing.status == 1 %}
                  <a href="/edit-listing?id={{listing.listingId}}" class="btn btn-warning">Edit</a>
                  <a href="" id="{{listing.listingId}}" class="btn btn-danger delete-listing">Remove</a>
                  {% elseif listing.status == 2 %}

                  {% endif %}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
  </main>

  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/jquery-ui/jquery-ui.min.js"></script>
  <script src="assets/vendor/blockui/jquery.blockUI.js"></script>
  <script src="assets/vendor/sweetalert/sweetalert2.all.min.js"></script>

  <script src="assets/vendor/popper/popper.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/vendor/select2/js/select2.full.min.js"></script>
  <script src="assets/vendor/jquery-scrollbar/jquery.scrollbar.min.js"></script>
  <script src="assets/vendor/listjs/listjs.min.js"></script>
  <script src="assets/vendor/moment/moment.min.js"></script>
  <script src="assets/vendor/daterangepicker/daterangepicker.js"></script>
  <script src="assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
  <script src="assets/vendor/bootstrap-notify/bootstrap-notify.min.js"></script>
  <script src="assets/js/atmos.min.js"></script>
  <!--page specific scripts for demo-->
  <script src="assets/vendor/DataTables/datatables.min.js"></script>

  <script>
  $(document).on("click", ".delete-listing", function() {
    var id = $(this).attr('id');

    $.post("api/listings/remove/listing", {id: id}, function(){})
    .done(function(data) {
      if(data.result == 'true') {
        Swal.fire({
        type: 'success',
        title: 'Succces',
        text: 'You have successfully removed this listing. Status: '+data.result
        });
        setTimeout(function(){
          location.reload();
        }, 1500);
    } else if (data.result == 'failed'){
      Swal.fire({
      type: 'error',
      title: 'Error',
      text: 'There was an error deleting your listing. Please try again.'
      //text: 'There was an error deleting your listing. Please try again.'.data.db_error
      });
    }
    })
    .fail(function(data) {
        Swal.fire({
        type: 'error',
        title: 'Error',
        text: 'There was an error contacting the server.'
        });
      setTimeout(function(){
        location.reload();
      }, 1500);
    });
  });
  </script>

</body>

</html>
