<!DOCTYPE html>
<html lang="en">

{{ include('partials/header.html') }}

<body class="pace-done sidebar-pinned ">

  {{ include('partials/sidebar.html') }}

  <main class="admin-main">
    <!--site header begins-->

    {{ include('partials/nav.html') }}
    <!--site header ends -->
    <section class="admin-content" style="min-height: 100vh">

      <div class="bg-darker">
          <div class="container  m-b-30">
              <div class="row p-b-40">
                  <div class="col-12 p-t-40 p-b-40">

                    <h1 class="h1-heading-icon text-white">Review Listings</h1>
                    <p class="text-white">Welcome {{session.firstname|capitalize}}</p>

                  </div>
              </div>
          </div>
      </div>

      <div class="container pull-up">
        <div class="container">
          <div class="row">

            <div class="col-12 p-0" style="overflow-y: auto;">

              <table class="table table-dark table-hover">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Suburb</th>
                    <th>State</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  {% for listing in myListings %}

                  <tr>
                    <td>{{ listing.listingId }}</td>
                    <td class="text-capitalize">{{ listing.title }}</td>
                    <td class="text-capitalize">{{ listing.description|nl2br }}</td>
                    <td>${{ listing.price }}</td>
                    <td class="text-capitalize">{{ listing.suburb }}</td>
                    <td class="text-uppercase">{{ listing.state }}</td>
                    {% if listing.status == 0 %}
                    <td><a href="#" id="{{listing.listingId}}" class="btn btn-success review-listing">Approve</a></td>
                    {% elseif listing.status == 1 %}
                    <td>Published</td>
                    {% elseif listing.status == 2 %}
                    <td><a href="#" id="{{listing.listingId}}" class="btn btn-success review-listing">Re-Approve</a></td>
                    {% endif %}
                  </tr>

                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main>

  {{ include('partials/footer.html') }}

  <script>
  $(document).on("click", ".review-listing", function() {
    var id = $(this).attr('id');

    $.post("api/listings/review/listing", {id: id}, function(){})
    .done(function(data) {
      if(data.result == 'true') {
        Swal.fire({
        type: 'success',
        title: 'Succces',
        text: 'You have successfully aproved this listing.'
        });
        setTimeout(function(){
          location.reload();
        }, 1500);
    } else if (data.result == 'failed'){
      Swal.fire({
      type: 'error',
      title: 'Error',
      text: 'There was an error deleting your listing. Please try again.'
      //text: 'There was an error deleting your listing. Please try again.'.data.db_error
      });
    }
    })
    .fail(function(data) {
        Swal.fire({
        type: 'error',
        title: 'Error',
        text: 'There was an error contacting the server.'
        });
      setTimeout(function(){
        location.reload();
      }, 1500);
    });
  });
  </script>

</body>

</html>
