.sub-menu {
  background: #00BF99;
}

.menu-item.active {
  background: #00BF99;
}

.btn-success {
  border: #00BF99 !important;
  background-color: #00BF99 !important;
}

.btn-success:hover {
  background-color: #00A281 !important;
}

.btn-warning {
  border: #E8C547 !important;
  background-color: #E8C547 !important;
}

.btn-warning:hover {
  background-color: #FBCE2E !important;
}

.btn-danger {
  border: #AC3931 !important;
  background-color: #AC3931 !important;
}

.btn-danger:hover {
  background-color: #C6453C !important;
}

.progress {
  background-color: #fff !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.progress-bar {
  background-color: #00BF99 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.custom-file input {
  cursor: pointer !important;
}

.custom-file-input {
  width: 50% !important;
}

.cloudinary-fileupload {
  position: relative;
  z-index: 2;
  width: 500%;
  height: calc(1.5em + .75rem + 2px);
  margin: 0;
  opacity: 0;
}

.cloudinary-fileupload::after {
  line-height: 1.5;
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  height: calc(1.5em + .75rem);
  padding: .375rem .75rem;
  content: 'Browse';
  color: #3e4676;
  border-left: inherit;
  border-radius: 0 .25rem .25rem 0;
  background-color: #fff;
}
