<!--Footer-->
<footer class="page-footer text-center text-md-left pt-4 text-white">

  <!--Footer Links-->
  <div class="container-fluid">
    <div class="row">

      <!--First column-->
      <div class="col-md-3">
        <img src="/assets/img/logo3.png" alt="">
        <!-- <a href="https://ethanworth.com.au"><img src="/assets/img/ethanworth.com.auLogo.png" alt=""></a> -->
      </div>
      <!--/.First column-->

      <hr class="clearfix d-md-none" style="width:93%;margin:5 auto;">

      <!--Second column-->
      <div class="col-md-2 mx-auto">
        <h5 class="text-uppercase font-weight-bold mb-4">Main Pages</h5>
        <ul class="list-unstyled">
          <li><a href="/">Home</a></li>
          <li><a href="/listings">Listings</a></li>
        </ul>
      </div>
      <!--/.Second column-->

      <hr class="clearfix d-md-none" style="width:93%;margin:5 auto;">

      <!--Third column-->
      <div class="col-md-2 mx-auto">
        <h5 class="text-uppercase font-weight-bold mb-4">Listing Manager Pages</h5>
        <ul class="list-unstyled">
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="/my-listings">My Listings</a></li>
          <li><a href="/add-listing">Add Listing</a></li>
          <li><a href="/edit-listing">Edit Listing</a></li>
        </ul>
      </div>
      <!--/.Third column-->

      <hr class="clearfix d-md-none" style="width:93%;margin:5 auto;">

      <!--Fourth column-->
      <div class="col-md-2 mx-auto">
        <h5 class="text-uppercase font-weight-bold mb-4">Authentication Pages</h5>
        <ul class="list-unstyled">
          <li><a href="/">Login</a></li>
          <li><a href="/register">Register</a></li>
        </ul>
      </div>
      <!--/.Fourth column-->

    </div>
  </div>
  <!--/.Footer Links-->

  <hr>

  <!--Call to action-->
  <div class="call-to-action text-center my-4">
    <ul class="list-unstyled list-inline">
      <li class="list-inline-item">
        <h5>Register for free</h5>
      </li>
      <li class="list-inline-item"><a href="/register" class="btn btn-success">Register!</a></li>
    </ul>
  </div>
  <!--/.Call to action-->

  <!--Copyright-->
  <!-- <div class="footer-copyright py-3 text-center">
    <div class="container-fluid">
      © 2020 Copyright. All Rights Reserved. <a href="https://ethanworth.com.au"> ethanworth.com.au </a>

    </div>
  </div> -->

  <div class="container-fluid bg-darker align-self-center" style="min-height:200px">
    <p class="text-center p-t-50 text-white">Video Sales 2020. All rights reserved.<br><br>Created by 431680505 @ Cecil Hills HS<br>HSC Major Project</p>
  </div>
  <!--/.Copyright-->

</footer>
<!--/.Footer-->

<script src="/assets/js/sweetalert2.all.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/vendor/jquery-ui/jquery-ui.min.js"></script>
<script src="/assets/vendor/blockui/jquery.blockUI.js"></script>
<script src="/assets/vendor/sweetalert/sweetalert2.all.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
<script src="/assets/vendor/select2/js/select2.full.min.js"></script>
<script src="/assets/vendor/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<script src="/assets/vendor/listjs/listjs.min.js"></script>
<script src="/assets/vendor/moment/moment.min.js"></script>
<script src="/assets/vendor/daterangepicker/daterangepicker.js"></script>
<script src="/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/assets/vendor/bootstrap-notify/bootstrap-notify.min.js"></script>
<script src="/assets/js/atmos.min.js"></script>

<!--Additional Page includes-->
<script src="assets/vendor/apexchart/apexcharts.min.js"></script>

<!-- Cloudinary upload js -->
<script type="text/javascript" src="/assets/js/jquery.ui.widget.js"></script>
<script type="text/javascript" src="/assets/js/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="/assets/js/jquery.fileupload.js"></script>
<script type="text/javascript" src="/assets/js/jquery.cloudinary.js"></script>
