<header class="admin-header">

    <a href="#" class="sidebar-toggle" data-toggleclass="sidebar-open" data-target="body"> </a>

    <nav class=" mr-auto my-auto">
    </nav>
    <nav class=" ml-auto">
        <ul class="nav align-items-center">
            <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="avatar avatar-sm avatar-online">
                        <span class="avatar-title rounded-circle bg-dark">E</span>

                    </div>
                </a>
                <div class="dropdown-menu  dropdown-menu-right" style="width:200px">
                    <p style="text-align: center;padding-top: 10px;color:#000">Hi, {{session.firstname|capitalize}}!</p>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" data-toggle="modal" data-target="#passwordReset" href="#"> Change Password</a>
                    <div class="dropdown-divider"></div>
                    <a id="logout" class="dropdown-item" href=""> Logout</a>
                </div>
            </li>
        </ul>
    </nav>
</header>
