<header class="admin-header">

    <a href="#" class="sidebar-toggle" data-toggleclass="sidebar-open" data-target="body"> </a>

    <nav class=" mr-auto my-auto">
    </nav>
    <nav class=" ml-auto">
        <ul class="nav align-items-center">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
             style="text-transform: uppercase; letter-spacing: 2px; font-weight: 600; font-size: 13px;"><i class="mdi mdi-account-circle"></i> Profile</a>
            <div class="dropdown-menu dropdown-menu-right" style="width:200px;">
              <p style="text-align: left;padding-top: 10px; padding-left: 22px; color:#000"><i class="mdi mdi-account-circle"></i> Hi, {{session.firstname|capitalize}}!</p>
              <a href="dashboard" class="dropdown-item"><i class="mdi mdi-message-video"></i> Dashboard</a>
              <div class="dropdown-divider"></div>
              <a id="logout" class="dropdown-item" href="logout"><i class="mdi mdi-logout"></i> Logout</a>
            </div>
          </li>
        </ul>
    </nav>
</header>
