<div class="header">
  <nav class="background-trans navbar">
    <input type="checkbox" id="nav" class="hidden">
    <label for="nav" class="nav-btn">
      <i></i>
      <i></i>
      <i></i>
    </label>
    <div class="logo mr-auto">
      <a href="/"><img src="/assets/img/logo.png" alt="VideoSales"></a>
    </div>
    {% if session.authenticated == true %}
    <li class="dropdown lg-hidden p-r-30">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
       style="text-transform: uppercase; letter-spacing: 2px; font-weight: 600; font-size: 13px;"><i class="mdi mdi-account-circle"></i> Profile</a>
      <div class="dropdown-menu dropdown-menu-right" style="width:200px;">
        <p style="text-align: left;padding-top: 10px; padding-left: 22px; color:#000"><i class="mdi mdi-account-circle"></i> Hi, {{session.firstname|capitalize}}!</p>
        <a href="dashboard" class="dropdown-item"><i class="mdi mdi-message-video"></i> Dashboard</a>
        <div class="dropdown-divider"></div>
        <a id="logout" class="dropdown-item" href="logout"><i class="mdi mdi-logout"></i> Logout</a>
      </div>
    </li>
    {% else %}

    {% endif %}

    <div class="nav-wrapper">
      <ul>
        <li><a href="/" class="lg-hidden brand"><img src="/assets/img/logo3.png" alt="VideoSales"></a></li>
        <li><a class="link" href="listings"><i class="mdi mdi-magnify"></i> Search Listings</a></li>
        {% if session.authenticated == true %}
        <li class="dropdown sm-hidden">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
           style="text-transform: uppercase; letter-spacing: 2px; font-weight: 600; font-size: 13px; margin-right:-35px !important;"><i class="mdi mdi-account-circle"></i> Profile</a>
          <div class="dropdown-menu dropdown-menu-right" style="width:200px;">
            <p style="text-align: left;padding-top: 10px; padding-left: 22px; color:#000"><i class="mdi mdi-account-circle"></i> Hi, {{session.firstname|capitalize}}!</p>
            <a href="dashboard" class="dropdown-item"><i class="mdi mdi-message-video"></i> Dashboard</a>
            <div class="dropdown-divider"></div>
            <a id="logout" class="dropdown-item" href="logout"><i class="mdi mdi-logout"></i> Logout</a>
          </div>
        </li>
        {% else %}
        <li><a href='' class='btn btn-lg btn-success pl-3 text-white' style='font-size: 13px; text-transform:uppercase;' data-toggle="modal" data-target="#loginModal">
          Start Selling <i class='mdi mdi-video pl-1' style="font-size:15px"></i></a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
</div>


<div class="modal fade show" data-keyboard="false" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" style="display: none;" aria-modal="true">
  <div class="modal-dialog  modal-sm modal-dialog-centered" role="document">
    <div class="modal-content m-t-80">
      <div class="modal-body">
        <div>
          <div class="text-center p-b-20 pull-up-sm">
            <div class="avatar avatar-lg">
              <img src="assets/img/logo2.png" alt="..." class="avatar-img rounded-circle" style="background: #333;">
            </div>
          </div>
          <h3 class="text-center">Login </h3>
          <p class="text-center opacity-75">Please Login to continue </p>
          <form>
            <div class="form-group">
              <div class="input-group input-group-flush mb-3">
                <input type="text" id="email" class="form-control form-control-prepended" placeholder="Email">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <span class=" mdi mdi-account "></span>
                  </div>
                </div>
              </div>
              <div class="input-group input-group-flush mb-3">
                <input type="password" id="password" class="form-control form-control-prepended" placeholder="Password">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <span class="mdi mdi-key "></span>
                    </div>
                  </div>
              </div>
            </div>
            <div class="form-group">
              <a href="#" data-dismiss="modal" class="btn text-uppercase btn-block btn-success login-user">Login</a>
            </div>
          </form>
          <p class="text-center p-t-10"><a href="register" class="text-underline">Don't have an account?</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
