
<aside class="admin-sidebar">
  <div class="admin-sidebar-brand">
        <!-- begin sidebar branding-->
        <img class="admin-brand-logo" src="" alt="Video Sales Logo" width="120">
        <!-- end sidebar branding-->
        <div class="ml-auto">
            <!-- sidebar pin-->
            <a href="#" class="admin-pin-sidebar btn-ghost btn btn-rounded-circle"></a>
            <!-- sidebar close for mobile device-->
            <a href="#" class="admin-close-sidebar"></a>
        </div>
    </div>
  <div class="admin-sidebar-wrapper js-scrollbar">
    <ul class="menu">
      <li class="menu-item {% if page == 'dashboard' %}active{% endif %} "> <a href="/" class=" menu-link"> <span class="menu-label"> <span class="menu-name">Dashboard </span> </span> <span class="menu-icon"> <i class="icon-placeholder mdi mdi-magnify "></i> </span> </a> </li>

    </ul>


  </div>

</aside>

