
<aside class="admin-sidebar">
  <div class="admin-sidebar-brand">
        <!-- begin sidebar branding-->
        <a href="/"><img class="admin-brand-logo" src="assets/img/logo3.png" alt="Video Sales Logo" width="120"></a>
        <!-- end sidebar branding-->
        <div class="ml-auto">
            <!-- sidebar pin-->
            <a href="#" class="admin-pin-sidebar btn-ghost btn btn-rounded-circle"></a>
            <!-- sidebar close for mobile device-->
            <a href="#" class="admin-close-sidebar"></a>
        </div>
    </div>
  <div class="admin-sidebar-wrapper js-scrollbar">
    <ul class="menu">
      <li class="menu-item {% if page == 'dashboard' %}active{% endif %}"> <a href="dashboard" class=" menu-link"> <span class="menu-label"> <span class="menu-name">Dashboard </span> </span> <span class="menu-icon"> <i class="mdi mdi-magnify"></i> </span> </a> </li>
      <li class="menu-item "> <a href="#" class="open-dropdown menu-link"> <span class="menu-label"> <span class="menu-name">Listings <span class="menu-arrow"></span> </span> </span> <span class="menu-icon"> <i class="icon-placeholder mdi mdi-book-multiple "></i> </span> </a>
        <!--submenu-->
        <ul class="sub-menu ">
          <li class="menu-item "> <a href="my-listings" class=" menu-link"> <span class="menu-label"> <span class="menu-name">My Listings </span> </span> <span class="menu-icon"> <i class="icon-placeholder mdi mdi-book-multiple "></i> </span> </a> </li>
          <li class="menu-item "> <a href="add-listing" class=" menu-link"> <span class="menu-label"> <span class="menu-name">Add Listing </span> </span> <span class="menu-icon"> <i class="icon-placeholder mdi mdi-book-plus "></i> </span> </a> </li>
        </ul>
      </li>
      <li class="menu-item {% if page == 'settings' %}active{% endif %}"> <a href="settings" class=" menu-link"> <span class="menu-label"> <span class="menu-name">Settings </span> </span> <span class="menu-icon"> <i class="mdi mdi-settings "></i> </span> </a> </li>
      {% if session.authenticated == true %}
      <li class="menu-item {% if page == 'review' %}active{% endif %}"> <a href="review" class=" menu-link"> <span class="menu-label"> <span class="menu-name">Review </span> </span> <span class="menu-icon"> <i class="mdi mdi-feature-search "></i> </span> </a> </li>
      {% else %}

      {% endif %}
    </ul>
  </div>

</aside>
